VITE_CONTATO_TIAGO=(11) 95506-3479
VITE_CONTATO_GRAZI=(11) 96123-7522
VITE_PIX_KEY=XXXXXXX
VITE_PIX_NAME=JOHN DOE
VITE_PIX_BANK=FAKE BANK
VITE_ENDERECO=XXXXXXX
VITE_CONDOMINIO=XXXXXXX
VITE_REFERENCIA=XXXXXXX
VITE_MAPS_URL=XXXXXXX
VITE_WHATSAPP_MESSAGE="Olá! Gostaria de solicitar um serviço de impressão."